/*
  Name: Aaron Tsang
  Date: May 6, 2020
  Section: CSE 154 AL

  This CSS file contains all the styling and animations for the 'index.html' for CP3.
*/
body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
  animation-duration: 0.5s;
  animation-name: slidetop;
  animation-iteration-count: once;
}

/* animation found from
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations */

@keyframes slidetop {
  from {
    margin-top: -500px;
    width: 100%;
  }

  to {
    margin-top: 26px;
    width: 100%;
  }
}

form, button, #joke-box, #joke-box p, hr {
  margin: 40px;
}

form button {
  height: 50px;
  width: 100px;
}

#clear-btn {
  height: 100px;
}

form button, #clear-btn {
  border-radius: 10px;
}

.hidden {
  display: none;
}

#joke-box {
  width: 40%;
}

#errorMess {
  font-size: 30px;
  color: #ff0000;
  width: 100%;
}